@font-face {
    font-family: 'Proxima Nova';
    src: url('/vendor/fastadminpanel/fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'), url('/vendor/fastadminpanel/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('/vendor/fastadminpanel/fonts/ProximaNova-Regular.woff') format('woff'), url('/vendor/fastadminpanel/fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/vendor/fastadminpanel/fonts/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'), url('/vendor/fastadminpanel/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('/vendor/fastadminpanel/fonts/ProximaNova-Semibold.woff') format('woff'), url('/vendor/fastadminpanel/fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/vendor/fastadminpanel/fonts/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), url('/vendor/fastadminpanel/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('/vendor/fastadminpanel/fonts/ProximaNova-Bold.woff') format('woff'), url('/vendor/fastadminpanel/fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/vendor/fastadminpanel/fonts/ProximaNova-Extrabld.eot');
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'), url('/vendor/fastadminpanel/fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'), url('/vendor/fastadminpanel/fonts/ProximaNova-Extrabld.woff') format('woff'), url('/vendor/fastadminpanel/fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body,
input,
textarea,
select {
    font-family: "Proxima Nova", sans-serif;
    color: #171219;
    font-size: 4.375vw;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    /* -webkit-appearance:none; */
}

body,
dl,
dt,
dd,
ul,
ol,
li,
form,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
span,
b,
i,
input,
textarea,
fieldset {
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}

.fade-out {
    opacity: 1;
    transition: 0.3s;
    pointer-events: auto;
}

.fade-out.active {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.fade-in.active {
    opacity: 1;
    pointer-events: auto;
}

.column {
    width: 356.25vw;
    margin: 0 auto;
}

.navbar-laravel {
    box-shadow: 0 2px 1.25vw rgba(0, 0, 0, .04);
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row {
    margin-left: 0;
    margin-right: 0;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.digiants {
    width: 46.4094vw;
    height: 6.5219vw;
    position: absolute;
    bottom: 9.375vw;
    left: 50%;
    transform: translateX(-50%);
}

.login-form-fields {
    width: 90.625vw;
    height: 102.1875vw;
    background: #FFFFFF;
    box-shadow: 5.9375vw 0vw 23.4375vw rgba(0, 1, 20, 0.03);
    border-radius: 4.6875vw;
    padding: 9.375vw 4.6875vw;
}

.login-form-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-logo {
    width: 25.9469vw;
    height: 12.5vw;
}

.login-title {
    font-style: normal;
    font-weight: bold;
    font-size: 4.3244vw;
    line-height: 5.625vw;
    color: #171219;
    padding: 3.125vw 4.375vw;
    background: #F1F4F6;
    border-radius: 2.8125vw;
    margin-left: 1.5625vw;
}

.login-form-title {
    font-style: normal;
    font-weight: bold;
    font-size: 5.625vw;
    line-height: 8.125vw;
    position: relative;
    margin-top: 6.25vw;
    margin-bottom: 3.125vw;
    text-align: center;
}

.login-form-title::before,
.login-form-title::after {
    content: "";
    width: 35.3125vw;
    height: 1px;
    position: absolute;
    background-color: white;
    top: 10vw;
}

.login-form-title::before {
    left: 0;
}

.login-form-title::after {
    right: 0;
}

.login-form-input {
    width: 81.25vw;
    height: 12.5vw;
    display: block;
    border: 1px solid #E3E3E3;
    border-radius: 1.5625vw;
    background-color: transparent;
    padding: 3.125vw 4.6875vw;
    margin-bottom: 3.125vw;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.25vw;
}

.checkbox {
    display: flex;
    user-select: none;
    cursor: pointer;
    margin-bottom: 3.125vw;
}

.checkbox-rectangle {
    width: 6.25vw;
    height: 6.25vw;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.checkbox-mark {
    display: none;
    width: 3.75vw;
    height: 3.75vw;
}

.checkbox-input:checked + .checkbox-rectangle,
.checkbox-rectangle.active {
    background: #51225D;
    border: none;
}

.checkbox-input:checked + .checkbox-rectangle > .checkbox-mark,
.checkbox-rectangle.active > .checkbox-mark {
    display: block;
}

.checkbox-text {
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.25vw;
    color: #7F7F7F;
    margin-left: 2.5vw;
}

.login-form-btn {
    background: #51225D;
    border-radius: 1.5625vw;
    font-style: normal;
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 6.25vw;
    color: #FFFFFF;
    width: 81.25vw;
    height: 12.5vw;
    display: block;
    border: 0;
}

.login-error {
    color: red;
    margin-top: 1.5625vw;
    text-align: center;
    font-size: 4.375vw;
}

.sidebar {
    /* width: 93.75vw; */
    width: 100vw;
    height: 100vh;
    /* padding: 9.375vw 15.625vw; */
    position: fixed;
    top: 18.75vw;
    left: 0;
    z-index: 1000;
    transition: .5s;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
}

.sidebar.active {
    opacity: 1;
    pointer-events: all;
}

.sidebar-menu {
    width: 84.375vw;
    padding: 4.6875vw 0 !important;
    background: #FFFFFF;
    height: calc(100vh - 18.75vw);
    transform: translateX(-100vw);
    transition: .5s;
}

.sidebar.active .sidebar-menu {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-logo {
    width: 25.9469vw;
    height: 12.5vw;
    margin-right: 1.5625vw;
}

.sidebar-header-title {
    font-style: normal;
    font-weight: bold;
    font-size: 4.3245vw;
    line-height: 5.625vw;
    padding: 3.125vw 4.6875vw;
    background: #EFF2F4;
    border-radius: 3.125vw;
    color: #171219 !important;
    text-decoration: none !important;
}

.sidebar-menu-item-parent {
    position: relative;
}

.sidebar-menu-item-parent.active::before {
    content: "";
    display: block;
    background: rgba(81, 34, 93, 0.04);
    border-radius: 2.5vw 1.25vw 1.25vw 2.5vw;
    width: calc(100% + 9.375vw);
    height: calc(100% + 5vw);
    position: absolute;
    top: -2.5vw;
    left: -9.375vw;
    z-index: 0;
    border-right: 1.25vw solid #51225D;
}

.sidebar-menu-item {
    margin-bottom: 4.6875vw;
    padding: 0 4.6875vw;
}

.sidebar-menu-item,
.sidebar-menu-item a {
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 6.25vw;
    color: #7F7F7F;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}

.sidebar-menu-item-icon {
    width: 5vw;
    height: 5vw;
    margin-right: 6.25vw;
    flex-shrink: 0;
}

.sidebar-menu-item.router-link-active,
.sidebar-menu-item:hover,
.sidebar-menu-item.router-link-active a,
.sidebar-menu-item:hover a,
.sidebar-menu-item a.router-link-active {
    color: #51225D;
    text-decoration: none;
}

.sidebar-menu-item.child {
    padding-left: 11.875vw;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 5.625vw;
    display: none;
}

.sidebar-menu-item-ico-wrapper {
    width: 5.625vw;
    height: 5.625vw;
    background: #EFF2F4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4.6875vw;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar-menu-item-ico {
    width: 2.5vw;
    height: 2.5vw;
    transition: .3s;
}

.sidebar-menu-item-parent.active .sidebar-menu-item {
    color: #51225D;
}

.sidebar-menu-item-parent.active .sidebar-menu-item-ico {
    transform: rotate(180deg);
}

.sidebar-menu-item-parent.active>.sidebar-menu-item.child {
    display: block;
}

.sidebar-menu-item-count {
    font-style: normal;
    font-weight: normal;
    font-size: 3.75vw;
    line-height: 6.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 3px;
    background: #51225D;
    border-radius: 3px;
    margin-left: 3.125vw;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

.content {
    padding: 6.25vw 4.6875vw;
    width: 100%;
    background: #EFF2F4;
}

.row {
    margin: 0;
}

.control-label {
    padding-top: 2.1875vw;
    margin-bottom: 0;
    text-align: right;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 5.625vw;
    line-height: 8.125vw;
    margin-bottom: 1.5625vw;
}

h2 {
    font-size: 8.75vw;
    font-weight: 300;
    margin-bottom: 3.125vw;
}

h3 {
    font-size: 6.875vw;
    font-weight: 300;
    margin-bottom: 3.125vw;
}

.rem {
    font-weight: bold;
    font-size: 10.3125vw;
    height: 11.875vw;
    line-height: 6.25vw;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
    cursor: pointer;
}

.table-editfields {
    margin-top: 4.6875vw;
}

.col-md-12 {
    padding: 0;
}

.btn {
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 6.25vw;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn-danger {
    background: #DD3444;
}

.btn-edit {
    margin-bottom: 6.25vw;
}

.btn-edit svg {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 3.125vw;
}

.btn-add {
    background: rgba(81, 34, 93, 0.04);
    border: 1px solid #51225D;
    border-radius: 1.5625vw;
    width: 100%;
    padding: 4.6875vw 0;
    font-style: normal;
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 6.25vw;
    color: #51225D;
}

.btn-dash {
    border: 1px dashed #51225D;
}

.btn-add:hover {
    color: #fff;
    background: #51225D;
}

.btn-blue {
    background: #9AC9E8;
}

.btn-svg {
    width: 2.5vw;
    height: 2.5vw;
}

.btn-small {
    width: 6.875vw;
    height: 6.875vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.disabled {
    opacity: 0.5;
}

.sides {
    display: flex;
    justify-content: space-between;
}

#datatable_wrapper {
    margin-top: 6.25vw;
}

.datatables-sort select {
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 5.625vw;
}

#datatable_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFF2F4;
    border-radius: 1.5625vw;
    padding: 3.125vw 6.25vw;
    flex-wrap: wrap;
}

#datatable_filter label {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 4.375vw;
    line-height: 5.625vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#datatable_filter label span {
    width: 100%;
    margin-bottom: 1.5625vw;
}

#datatable_filter .select-wrapper {
    width: auto;
}

#datatable_filter .select-arrow-block {
    background: none;
    right: 1.5625vw;
}

#datatable_filter select {
    width: 32.8125vw;
}

#datatable_filter input {
    width: 100%;
}

.datatable-wrapper {
    overflow-x: scroll;
    max-width: 100%;
    margin-top: 6.25vw;
}

.datatable {
    display: table;
    border-bottom: 1px solid #aaa;
}

.datatable tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.datatable .btn {
    padding-top: 1px;
    padding-bottom: 0;
    font-size: 4.375vw;
}

.td-actions-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.td-actions-delete {
    margin-left: 1.5625vw;
}

td.td-content {
    vertical-align: middle;
    font-size: 4.375vw;
}

.index-pagination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #7F7F7F;
    margin-top: 6.25vw;
}

.index-pagination-btns {
    display: flex;
    align-items: center;
    margin-bottom: 4.0625vw;
}

.index-pagination-numbers {
    display: flex;
}

.index-pagination-number {
    margin: 0 1.875vw;
    height: 8.125vw;
    width: 8.125vw;
    background: #EFF2F4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.25vw;
    color: #171219;
}

.index-pagination-prev {
    cursor: pointer;
}

.index-pagination-next {
    cursor: pointer;
}

.index-pagination-svg path {
    fill: #171219;
}

.index-pagination-prev:hover,
.index-pagination-next:hover,
.index-pagination-number.active,
.index-pagination-number:hover {
    background: #51225D;
    color: #fff;
}

.index-pagination-prev:hover path,
.index-pagination-next:hover path {
    fill: #fff;
}

.index-pagination-svg {
    width: 3.75vw;
    height: 3.75vw;
}

.index-pagination-prev.disabled:hover,
.index-pagination-next.disabled:hover {
    background: transparent;
}

.index-pagination-prev.disabled,
.index-pagination-next.disabled {
    pointer-events: none;
}

.mass-delete-col {
    margin-top: 6.25vw;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-self-flex-start {
    align-self: center;
}

.input-error {
    color: red;
}

.dropdown-td-wrapper .form-control {
    height: 10vw;
    padding: 1.5625vw 3.125vw;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
}

.dropdown-td-wrapper .edit-field-inner {
    display: flex;
    align-items: center;
}

.dropdown-td-wrapper .photo-preview-wrapper {
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-left: 1.5625vw;
}

.dropdown-td-wrapper .photo-preview-img {
    width: 43.75vw;
    margin-bottom: 0;
    max-width: max-content;
}

.form-control-checkbox {
    width: auto;
}

.relationship-many {
    display: flex;
    margin-bottom: 3.125vw;
    position: relative;
}

.delete-many {
    position: absolute;
    top: 2.1875vw;
    right: 2.1875vw;
}

.photo-preview-wrapper {
    margin-top: 4.0625vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    max-width: 43.75vw;
}

.photo-preview-img {
    max-width: 43.75vw;
    margin-right: 3.125vw;
    margin-bottom: 4.6875vw;
    background: #EFF2F4;
}

.btn-delete-photo {
    position: absolute;
    top: -3px;
    right: -3.4375vw;
    background: #EFF2F4;
    box-shadow: 0vw 1.5625vw 2.8125vw rgba(0, 1, 20, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.875vw;
    height: 6.875vw;
    border-radius: 50%;
    border: none;
    padding: 0;
    font-size: 0;
    line-height: 0;
    transition: .3s;
    cursor: pointer;
}

.btn-delete-photo:hover {
    background: #DD3444;
}

.btn-delete-photo path {
    fill: #7F7F7F;
    transition: .3s;
}

.btn-delete-photo:hover path {
    fill: #fff;
}

.btn-delete-photo svg {
    width: 2.5vw;
    height: 2.5vw;
}

.gallery-margin-top {
    margin-top: 3.125vw;
}

.gallery-margin-top:nth-child(1) {
    margin-top: 0vw;
}

.langs {
    display: flex;
    text-transform: uppercase;
}

.langs-elm {
    margin: 0 3.125vw;
    cursor: pointer;
}

.langs-elm.active {
    color: white;
    text-decoration: underline;
}

.langs-elm:hover {
    text-decoration: underline;
}

.ck-editor__editable_inline {
    min-height: 78.125vw;
}

.add-file-btn {
    margin-top: 3.125vw;
}

#loader svg path,
#loader svg rect {
    fill: #51225D;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1001;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    width: 100vw;
    height: 100vh;
}

#loader.active {
    opacity: 1;
    pointer-events: auto;
}

.translate-field {
    margin-bottom: 4.6875vw;
}

.flex {
    display: flex;
}

.single-block-title {
    font-style: normal;
    font-weight: bold;
    font-size: 5.625vw;
    line-height: 8.125vw;
    color: #171219;
    margin-bottom: 3.125vw;
}

.single-block {
    margin-bottom: 6.25vw;
}

.single-block-wrapper {
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 4.6875vw;
    padding: 6.25vw 4.6875vw;
}

.single-btns {
    padding: 4.6875vw;
    margin-top: 4.6875vw;
}

.single-block .form-group {
    margin-bottom: 0;
}

.single-repeat .form-group {
    margin-bottom: 6.25vw;
}

.single-repeat-title {
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 6.25vw;
    color: #171219;
    margin-bottom: 3.125vw;
}

.single-repeat-group {
    position: relative;
    background: #EFF2F4;
    border-radius: 1.5625vw;
    padding: 6.25vw;
    margin-bottom: 6.25vw;
}

.single-repeat-delete {
    position: absolute;
    right: 1.5625vw;
    top: 1.5625vw;
    cursor: pointer;
    z-index: 1;
    border-radius: 3px;
    user-select: none;
}

.single-repeat-move {
    position: absolute;
    right: 10vw;
    top: 1.5625vw;
    cursor: pointer;
    z-index: 1;
    border-radius: 3px;
    user-select: none;
}

.editable-checkbox {
    width: auto;
}

.editable-input {
    max-width: 26.5625vw;
}

.editable-input.saving {
    background-color: #ff9f9f;
}

.editable-input.saved {
    background-color: #acf0ac;
}

.ck-content>* {
    margin: 4.6875vw 0;
}

.btn-primary,
.btn-info {
    background-color: #51225D;
    border-color: #51225D;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-primary:hover,
.btn-info:hover {
    background-color: #460955;
    border-color: #460955;
}

select {
    padding: 3px 1.5625vw;
}

.justify-end {
    justify-content: flex-end;
}

.mb-30 {
    margin-bottom: 9.375vw;
}

.mb-15 {
    margin-bottom: 4.6875vw;
}

.table-header-title {
    font-style: normal;
    font-weight: bold;
    font-size: 4.375vw;
    line-height: 5.625vw;
    color: #7F7F7F;
    padding: 3.125vw 0.75rem !important;
    white-space: pre;
}

.table-dropdown-item {
    padding: 3.125vw 6.25vw;
    margin-bottom: 3.125vw;
}

.table-dropdown-item td {
    padding: 0;
}

.table-dropdown-item .dropdown-td-wrapper {
    padding: 3.125vw 0.75rem;
    height: 16.25vw;
    margin-bottom: 3.125vw;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #171219;
    display: flex;
    align-items: center;
    transition: .3s;
}

.table-dropdown-item:hover .dropdown-td-wrapper {
    background: #F8F9FB;
}

.table-dropdown-item td:last-child .dropdown-td-wrapper {
    justify-content: end;
}

.table-dropdown-item td .dropdown-td-wrapper {
    border-top: 1px solid #E3E3E3 !important;
    border-bottom: 1px solid #E3E3E3 !important;
}

.table-dropdown-item td:first-child .dropdown-td-wrapper {
    border-left: 1px solid #E3E3E3 !important;
}

.table-dropdown-item td:last-child .dropdown-td-wrapper {
    border-right: 1px solid #E3E3E3 !important;
}

.table-dropdown-item td:first-child .dropdown-td-wrapper {
    border-top-left-radius: 3.125vw;
}

.table-dropdown-item td:last-child .dropdown-td-wrapper {
    border-top-right-radius: 3.125vw;
}

.table-dropdown-item td:first-child .dropdown-td-wrapper {
    border-bottom-left-radius: 3.125vw;
}

.table-dropdown-item td:last-child .dropdown-td-wrapper {
    border-bottom-right-radius: 3.125vw;
}

.table-wrapper {
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 4.6875vw;
    padding: 4.6875vw 6.25vw;
    margin-bottom: 6.25vw;
    overflow-x: scroll;
}

.table {
    margin-bottom: 0 !important;
    border: none;
}

.table tr,
.table td,
.table th {
    border: none;
}

.ml-50 {
    margin-left: 15.625vw;
}

.ck-editor {
    overflow: hidden;
}

.relationship_block {
    padding: 3.125vw 12.5vw;
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 1.5625vw;
    position: relative;
}

.reletionship_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 6.25vw;
    color: #171219;
    width: 100%;
    min-height: 6.25vw;
}

.reletionship_title:after {
    display: block;
    content: "";
    width: 1.875vw;
    height: 1.875vw;
    border: 1px solid #171219;
    border-left: none;
    border-top: none;
    position: absolute;
    top: 5vw;
    right: 5.3125vw;
    transform: rotate(45deg);
    transition: .3s;
}

.reletionship_title::before {
    display: block;
    content: "";
    width: 6.875vw;
    height: 6.875vw;
    background: #EFF2F4;
    border-radius: 3px;
    position: absolute;
    top: 2.8125vw;
    right: 2.8125vw;
}

.relationship_block.active>.reletionship_title:after {
    transform: rotate(-135deg);
    margin-top: 2px;
}

.btn-editable-delete {
    position: absolute;
    top: 3.125vw;
    right: 11.5625vw;
}

.reletionship_inner {
    display: none;
}

.relationship_block.active>.reletionship_inner {
    display: block;
}

.relationship_block.active>.reletionship_title {
    padding-bottom: 6.25vw;
}

.relationships_block_title {
    margin: 3.125vw 0 6.25vw;
}

.menu-item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 6.25vw;
    color: #171219;
    margin-bottom: 1.5625vw;
}

.menu-item-input .form-control {
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
}

.menu-table .form-group {
    margin-bottom: 4.6875vw;
}

.menu-table {
    padding: 4.6875vw 6.25vw;
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 4.6875vw;
    margin-bottom: 12.5vw;
}

select {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #E3E3E3;
    cursor: pointer;
}

select:focus {
    box-shadow: none !important;
    border: 1px solid #E3E3E3 !important;
}

.select-wrapper:hover .select-arrow {
    transform: rotate(180deg);
}

.select-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.vs__actions {
    display: none !important;
}

.vs__search,
.vs__search:focus {
    margin: 0;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #171219;
}

.vs__no-options {
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #171219;
}

.vs--single.vs--open .vs__selected {
    position: relative;
}

.vs__dropdown-option--highlight {
    background: #51225D;
    color: #fff !important;
}

.vs__dropdown-toggle {
    padding: 0;
    height: 100%;
    border: none;
}

.vs__selected {
    margin: 0;
}

.select-wrapper .form-control {
    padding: 0 6.25vw;
    height: 11.25vw;
}

.relationship-many .form-control {
    height: auto;
    padding: 3.125vw 6.25vw 0;
}

.vs__dropdown-option {
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #171219;
    padding: 2.1875vw 6.25vw;
}

.relationship-many .vs__selected {
    background: #51225D;
    color: #fff;
    border: none;
    margin-right: 3.125vw;
    margin-bottom: 3.125vw;
    padding: 1.5625vw 3.125vw;
}

.relationship-many .vs__deselect path {
    fill: #fff;
}

.relationship-many .vs__deselect {
    margin-left: 3.125vw;
}

.relationship-many .vs__deselect svg {
    width: 2.1875vw;
    height: 2.1875vw;
}

.relationship-many .vs__search {
    margin-bottom: 3.125vw;
}

.vs__selected {
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #171219;
}

.edit-fields select {
    height: 11.25vw;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #171219;
    padding: 2.1875vw 6.25vw;
}

.select-arrow-block {
    display: block;
    position: absolute;
    top: 50%;
    right: 3.125vw;
    transform: translateY(-50%);
    background: #EFF2F4;
    border-radius: 3px;
    width: 6.875vw;
    height: 6.875vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.select-arrow {
    width: 3.125vw;
    height: 3.125vw;
    transition: .3s;
}

.menu-table-editfields {
    padding: 4.6875vw 6.25vw;
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 4.6875vw;
    margin-bottom: 6.25vw;
    overflow-x: scroll;
}

.menu-table-editfields td {
    padding: 3.125vw 1.5625vw !important;
}

.menu-table-field {
    width: 36.875vw;
}

.menu-table-field-td-wrapper {
    display: flex;
    align-items: center;
    min-height: 10vw;
}

.menu-table-field .checkbox {
    margin: 0;
}

.menu-table-field .form-control {
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    height: 10vw;
    padding: 1.5625vw 3.125vw;
}

.menu-table-field .select-wrapper {
    height: 10vw;
}

.menu-table-field .select-arrow-block {
    background: none;
    right: 1.5625vw;
}

.menu-table-flex-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.menu-table-flex-btns .btn {
    margin-left: 1.5625vw;
}

.edit-fields {
    padding: 6.25vw 4.6875vw;
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 4.6875vw;
    margin-bottom: 3.125vw;
}

.edit-fields-btns .btn {
    margin-top: 3.125vw;
}

.edit-fields-editable {
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: none;
}

.edit-field-title {
    font-style: normal;
    font-weight: 600;
    font-size: 4.375vw;
    line-height: 5vw;
    padding: 0;
    display: block;
    text-align: left;
}

.field-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5625vw;
}

.field-remark {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: #9AC9E8;
    font-style: normal;
    font-weight: bold;
    font-size: 4.0625vw;
    line-height: 3.125vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    position: relative;
    margin-left: 1.5625vw;
    user-select: none;
}

.field-remark-modal {
    position: absolute;
    bottom: 100%;
    left: 50%;
    background: #FFFFFF;
    border-radius: 1.5625vw;
    padding: 4.6875vw;
    font-style: normal;
    font-weight: normal;
    font-size: 3.75vw;
    line-height: 6.25vw;
    color: #171219;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    visibility: hidden;
    user-select: none;
    box-shadow: 0vw 1.25vw 4.0625vw rgba(0, 0, 0, 0.11);
    max-width: 104.0625vw;
    width: max-content;
}

.field-remark:hover .field-remark-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.edit-field-inner .form-control {
    height: 11.25vw;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.25vw;
    padding: 3.125vw 4.6875vw;
}

.edit-fields .form-group {
    margin-bottom: 6.25vw;
}

.edit-field-inner .checkbox-rectangle {
    width: 9.375vw;
    height: 9.375vw;
}

.index-body {
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 4.6875vw;
    padding: 6.25vw 4.6875vw;
}

.index-title {
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 6.25vw;
    margin-bottom: 3.125vw;
}

.index-search {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 1.5625vw;
    padding: 2.1875vw 3.125vw;
    width: 63.125vw;
}

.index-search-wrapper {
    position: relative;
    margin-top: 1.5625vw !important;
}

.index-search-icon {
    width: 4.375vw;
    height: 4.375vw;
    position: absolute;
    bottom: 3.125vw;
    right: 3.125vw;
}

.sorting {
    font-style: normal;
    font-weight: bold;
    font-size: 4.375vw;
    line-height: 5.625vw;
    color: #7F7F7F;
    width: 31.25vw;
}

.sorting_asc .checkbox,
.checkbox.editable-checkbox,
.td-content .checkbox {
    margin-bottom: 0;
}

.td-content {
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    color: #171219;
    flex-grow: 1;
    width: 31.25vw;
}

.editable-input {
    width: 21.875vw;
    height: 10vw;
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 6.875vw;
    padding: 1.5625vw 3.125vw;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: none;
}

.table-hover tbody tr:hover {
    color: #171219;
    background: none;
}

.datatable th {
    padding: 3.125vw;
    border: none !important;
}

.datatable-tr .td-content:first-child {
    width: 11.875vw;
}

.td-content {
    padding: 0 !important;
}

.td-content-conteiner {
    border: 1px solid #E3E3E3 !important;
    border-right: none !important;
    border-left: none !important;
    padding: 3.125vw;
    height: calc(100% - 3.125vw);
    display: flex;
    align-items: center;
    margin-bottom: 3.125vw;
    word-break: break-word;
}

.td-content:first-child .td-content-conteiner {
    border-left: 1px solid #E3E3E3 !important;
    border-top-left-radius: 1.5625vw;
    border-bottom-left-radius: 1.5625vw;
}

.td-actions {
    padding: 0 !important;
}

.td-actions-container {
    border: 1px solid #E3E3E3 !important;
    border-left: none !important;
    border-top-right-radius: 1.5625vw;
    border-bottom-right-radius: 1.5625vw;
}

.logout {
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 6.25vw;
    color: #7F7F7F;
    padding-top: 4.375vw;
    padding-left: 4.6875vw;
}

.logout svg {
    width: 5vw;
    height: 5vw;
    margin-right: 6.25vw;
}

.sidebar-menu-items {
    padding-bottom: 0;
    height: 143.75vw;
    overflow: auto;
}

.sidebar-menu-items::-webkit-scrollbar {
    display: none;
}

.langs {
    padding: 4.375vw 4.6875vw;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    position: relative;
}

.lang-active {
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 6.25vw;
    color: #7F7F7F;
    display: flex;
    align-items: center;
}

.lang {
    cursor: pointer;
    margin-right: 3.125vw;
}

.lang-active:after {
    display: block;
    content: "";
    width: 2.1875vw;
    height: 2.1875vw;
    border: 1px solid #7F7F7F;
    border-left: none;
    border-bottom: none;
    transform: rotate(135deg);
    margin-left: 1.5625vw;
    margin-top: -1.5625vw;
    transition: .3s;
}

.langs-choice {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20.3125vw;
    background: #fff;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.2);
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 6.25vw;
    padding: 3.125vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .3s;
}

.langs:hover .langs-choice {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.langs:hover .lang-active:after {
    transform: rotate(45deg);
    margin-top: 0vw;
}

.single-block-wrapper-block {
    margin-bottom: 4.6875vw;
}

.single-block-wrapper-block:last-child {
    margin-bottom: 0;
}

textarea.form-control {
    height: 31.25vw !important;
}

.graph {
    display: block;
    width: 156.25vw;
}

.blocks {
    /* padding: 6.25vw; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 4.6875vw;
    padding: 6.25vw 4.6875vw;
    margin-bottom: 6.25vw;
}

.iteminfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 7.8125vw;
    position: relative;
    height: 28.4375vw;
    width: 40.625vw;
    border-right: 1px solid #E3E3E3;
    margin-bottom: 6.25vw;
}

.iteminfo:nth-child(2n) {
    border: none;
    padding-right: 0;
    padding-left: 7.8125vw;
}

.iteminfo p {
    font-style: normal;
    font-weight: normal;
    font-size: 4.375vw;
    line-height: 5.625vw;
    color: #171219;
    margin: 0;
    padding: 0;
    width: 23.75vw;
}

.iteminfo span {
    font-style: normal;
    font-weight: bold;
    font-size: 7.5vw;
    line-height: 8.125vw;
    color: #171219;
    margin: 0;
    padding: 0;
    background: #F4F2FE;
    border-radius: 3.125vw;
    padding: 3.125vw 4.6875vw;
    width: 32.8125vw;
    text-align: center;
}

.iteminfo:nth-child(1) span {
    background: #F4F2FE;
}

.iteminfo:nth-child(2) span {
    background: #EFFBFE;
}

.iteminfo:nth-child(3) span {
    background: #FDF2ED;
}

.iteminfo:nth-child(4) span {
    background: #F0FEF0;
}

.iteminfo:nth-child(5) span {
    background: #F4F2FE;
}

.iteminfo:nth-child(6) span {
    background: #EFFBFE;
}

.graph {
    display: block;
    width: 90.625vw;
    background: #FFFFFF;
    border-radius: 4.6875vw;
    padding: 3.125vw;
    margin-bottom: 6.25vw;
}

.itemstosale {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.itemstosale .product {
    display: flex;
    flex-direction: column;
}

.itemstosale .product a {
    display: flex;
    flex-wrap: wrap;
    color: #000;
    font-weight: 400;
}

.itemstosale {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top-sales,
.blocks-wrapper {
    width: 100%;
}

.itemstosale .product {
    display: flex;
    flex-direction: column;
    width: 43.75vw;
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 4.6875vw;
    padding: 2.5vw;
    margin-bottom: 3.125vw;
}

.itemstosale .product img {
    width: 38.75vw;
    height: 24.375vw;
    object-fit: contain;
    margin-bottom: 1.5625vw;
}

.itemstosale .product-count {
    font-style: normal;
    font-weight: normal;
    font-size: 3.75vw;
    line-height: 5vw;
    color: #7F7F7F;
    margin-top: 1.5625vw;
}

.itemstosale .product a {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 600;
    font-size: 3.75vw;
    line-height: 5vw;
    color: #171219;
}

.topbar {
    padding: 3.125vw 4.6875vw;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle {
    width: 12.5vw;
    height: 12.5vw;
    border-radius: 50%;
    background: #51225D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.75vw;
    position: relative;
}

.toggle-item {
    width: 5vw;
    height: 2px;
    background: #FFFFFF;
    border-radius: 3.125vw;
    margin: 2px 0;
    transition: .3s;
    opacity: 1;
}

.toggle-item:nth-child(2) {
    width: 3.125vw;
}

.toggle.active .toggle-item:nth-child(2) {
    transform: translateX(100px);
    opacity: 0;
}

.toggle.active .toggle-item:nth-child(1) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.toggle.active .toggle-item:nth-child(3) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-tooltip {
    display: none;
}

.editable-orders .relationship_block {
    padding: 6.25vw 4.6875vw;
}

.field-repeat-values {
	padding: 3.125vw 3.125vw;
    background: #FFFFFF;
    box-shadow: 0vw 4.375vw 10.9375vw rgba(0, 1, 20, 0.02);
    border-radius: 1.5625vw;
    position: relative;
	border: 1px solid #d0d0d0;
	margin-bottom: 3.125vw;
}

.field-repeat-btn {
	position: absolute;
    top: 1.5625vw;
    right: 1.5625vw;
}

.edit-settings {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-left: 9.375vw;
}

.edit-settings-dots {
    font-style: normal;
    font-weight: bold;
    font-size: 6.25vw;
    line-height: 8.75vw;
    margin-bottom: 3.125vw;
    transform: rotate(90deg);
}

.edit-settings-options {
    position: absolute;
    right: 3.125vw;
    top: calc(100% - 3.125vw);
    list-style: none;
    background: #FFFFFF;
    border-radius: 1.5625vw;
    padding: 3.125vw 4.6875vw;
    box-shadow: 0vw 1.25vw 4.0625vw rgba(0, 0, 0, 0.11);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.edit-settings:hover .edit-settings-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.edit-settings-option,
.edit-settings-option a {
    font-size: 4.375vw;
    line-height: 5.625vw;
    margin-bottom: 2.5vw;
    white-space: nowrap;
    color: #171219;
    transition: .3s;
}

.edit-settings-option:last-child {
    margin-bottom: 0;
}

.edit-settings-option:hover,
.edit-settings-option a:hover {
    color: #51225D;
}