body, input, textarea, select {
	font-family: "Roboto", sans-serif;
	color: #333333;
}
img {
	max-width: 100%;
}
* {
	box-sizing: border-box;
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
	/* -webkit-appearance:none; */
}
body, dl, dt, dd, ul, ol, li, form, table, tr, td, h1, h2, h3, h4, h5, h6, pre, p, span, b, i, input, textarea, fieldset {
	margin: 0;
	padding: 0;
}
.none {
	display: none;
}
.fade-out {
	opacity: 1;
	transition: 0.3s;
	pointer-events: auto;
}
.fade-out.active {
	opacity: 0;
	pointer-events: none;
}
.fade-in {
	opacity: 0;
	transition: 0.3s;
	pointer-events: none;
}
.fade-in.active {
	opacity: 1;
	pointer-events: auto;
}
.column {
	width: 1140px;
	margin: 0 auto;
}
.navbar-laravel {
	box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.my-form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.my-form .row {
	margin-left: 0;
	margin-right: 0;
}
.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: white;
}
.login-form-fields {
	width: 417px;
	max-width: 100%;
}
.login-form-logo-wrapper {
	padding: 12px 7px 0px 7px;
	border: 2px solid white;
	border-radius: 50%;
	width: 73px;
	height: 73px;
	margin: 0 auto;
}
.login-form-logo {
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-form-title {
	font-size: 48px;
	text-align: center;
	line-height: 55px;
	position: relative;
	margin-bottom: 30px;
}
.login-form-title::before,
.login-form-title::after {
	content: "";
	width: 113px;
	height: 1px;
	position: absolute;
	background-color: white;
	top: 32px;
}
.login-form-title::before {
	left: 0;
}
.login-form-title::after {
	right: 0;
}
.login-form-input {
	width: 100%;
	display: block;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	background-color: transparent;
	height: 59px;
	padding: 0 16px;
	color: white;
	margin-bottom: 11px;
}
.login-form-checkbox {
	display: flex;
	user-select: none;
	cursor: pointer;
	margin: 20px 0 35px;
}
.login-form-checkbox-rectangle {
	width: 25px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-form-checkbox-mark {
	display: none;
	width: 15px;
	height: 15px;
}
.login-form-checkbox-input:checked + .login-form-checkbox-rectangle > .login-form-checkbox-mark {
	display: block;
}
.login-form-checkbox-text {
	font-size: 18px;
	line-height: 25px;
	margin-left: 10px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.5);
}
.login-form-btn {
	background-color: #9CC9E6;
	border-radius: 10px;
	color: #000000;
	font-size: 24px;
	height: 59px;
	width: 100%;
	display: block;
	border: 0;
}
.mt-30 {
	margin-top: 30px;
}
.red {
	color: red;
}
/*.login-form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.login-form .row {
	margin-left: 0;
	margin-right: 0;
}*/
	
.topbar {
	padding: 10px 15px;
	background-color: #43497e;
	color: white;
	font-size: 18px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebar {
	background-color: #43497e;
	width: 250px;
	min-height: calc(100vh - 40px);
	overflow-y: auto;
	padding: 15px;
}
.sidebar-menu-item,
a.sidebar-menu-item {
	color: white;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
	display: block;
	position: relative;
	user-select: none;
	background-color: #605495;
}
.sidebar-menu-item.router-link-active,
.sidebar-menu-item:hover,
a.sidebar-menu-item.router-link-active,
a.sidebar-menu-item:hover {
	background-color: #8277b2;
}
.sidebar-menu-item.child {
	padding-left: 25px;
	background-color: #50467b;
	display: none;
}
.sidebar-menu-item-ico {
    width: 8px;
    height: 8px;
    fill: white;
    position: absolute;
    right: 10px;
    top: 17px;
}
.sidebar-menu-item-parent.active > .sidebar-menu-item > .sidebar-menu-item-ico {
	transform: rotate(90deg);
}
.sidebar-menu-item-parent.active > .sidebar-menu-item.child {
	display: block;
}
main {
	display: flex;
}
.content {
	width: calc(100% - 250px);
	padding: 15px;
}
.control-label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
}
h1 {
	font-size: 33px;
	font-weight: 300;
	margin-bottom: 10px;
}
h2 {
	font-size: 28px;
	font-weight: 300;
	margin-bottom: 10px;
}
h3 {
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 10px;
}
.rem {
	font-weight: bold;
	font-size: 33px;
	height: 38px;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
.table-editfields {
	margin-top: 15px;
}
.btn {
	cursor: pointer;
}
.disabled {
	opacity: 0.5;
}
.sides {
	display: flex;
	justify-content: space-between;
}
.portlet {
	border: 1px solid #30d0c1;
	margin-top: 25px;
}
.portlet-title {
	background-color: #26a69a;
	padding: 0 10px;
	margin-bottom: 0;
	color: #fff;
	line-height: 41px;
}
#datatable_filter {
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#datatable_filter label {
	margin: 0;
}
#datatable_filter input {
	margin-left: 15px;
}
.datatable {
	display: table;
	border-bottom: 1px solid #aaa;
}
.datatable tr {
	width: 100%;
}
.datatable .btn {
	padding-top: 1px;
	padding-bottom: 0;
	font-size: 14px;
}
.td-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 50px;
}
.td-actions-delete {
	margin-left: 5px;
}
td.td-content {
	vertical-align: middle;
	font-size: 14px;
}
.index-pagination {
	padding: 0 .75rem .75rem .75rem;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	align-items: center;
}
.index-pagination-btns {
	display: flex;
	align-items: center;
}
.index-pagination-numbers {
	display: flex;
}
.index-pagination-number {
	color: #333;
	padding: 0.5em 1em;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid transparent;
	cursor: pointer;
}
.index-pagination-prev {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0.5em 1em;
	margin-right: 5px;
}
.index-pagination-next {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0.5em 1em;
	margin-left: 5px;
}
.index-pagination-prev:hover,
.index-pagination-next:hover,
.index-pagination-number.active,
.index-pagination-number:hover {
	border: 1px solid #979797;
	background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
.index-pagination-prev.disabled:hover,
.index-pagination-next.disabled:hover {
	border: 1px solid transparent;
	background: transparent;
}
.index-pagination-prev.disabled,
.index-pagination-next.disabled {
	color: #727272;
	pointer-events: none;
}
.mass-delete-col {
	padding: 0 .75rem .75rem .75rem;
}
.space-between {
	display: flex;
	justify-content: space-between;
}
.align-self-flex-start {
	align-self: center;
}
.input-error {
	color: red;
}
.form-control-checkbox {
	width: auto;
}
.relationship-many {
	display: flex;
	margin-bottom: 10px;
}
.photo-preview-wrapper {
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.photo-preview-img {
	max-height: 100px;
	margin-right: 10px;
}
.gallery-margin-top {
	margin-top: 10px;
}
.gallery-margin-top:nth-child(1) {
	margin-top: 0px;
}
.langs {
	display: flex;
	text-transform: uppercase;
}
.langs-elm {
	margin: 0 10px;
	cursor: pointer;
}
.langs-elm.active {
	color: white;
	text-decoration: underline;
}
.langs-elm:hover {
	text-decoration: underline;
}
.ck-editor__editable_inline {
	min-height: 250px;
}
.add-file-btn {
	margin-top: 10px;
}
#loader svg path,
#loader svg rect{
	fill: #FF6700;
}
#loader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.3s;
}
#loader.active {
	opacity: 1;
	pointer-events: auto;
}
.translate-field {
	margin-bottom: 15px;
}
.flex {
	display: flex;
}
.single-block-title {
	font-size: 28px;
	display: block;
	color: #666;
	margin: 0px 0px 15px 0px;
	font-weight: 300;
}
.single-block {
	padding: 15px;
	border: 1px solid #999;
	border-top: 0;
}
.single {
	border-top: 1px solid #999;
}
.single-btns {
	padding: 15px;
	margin-top: 15px;
}
.single-repeat {
    padding: 15px 0;
    border: 1px solid #999;
}
.single-repeat-title {
	font-size: 22px;
	display: block;
	color: #666;
	margin: 0px 0px 15px 0px;
	font-weight: 300;
	padding: 0 15px;
}
.single-repeat-group {
	border-top: 1px solid #999;
	padding: 15px;
    position: relative;
}
.single-repeat-btns {
	padding: 15px 15px 0 15px;
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid #999;
}
.single-repeat-delete {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    z-index: 1;
    user-select: none;
}
.single-repeat-move {
    position: absolute;
    left: 24px;
    top: 0;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
    padding-bottom: 6px;
    border-radius: 0 0 5px 0;
    z-index: 1;
    user-select: none;
}
.editable-checkbox {
	width: auto;
}
.editable-input {
	max-width: 85px;
}
.editable-input.saving {
	background-color: #ff9f9f;
}
.editable-input.saved {
	background-color: #acf0ac;
}
.ck-content > * {
    margin: 15px 0;
}
.btn-primary,
.btn-info {
	background-color: #43497e;
	border-color: #43497e;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-primary:hover,
.btn-info:hover {
	background-color: #545a90;
	border-color: #545a90;
}
.portlet-title {
	background-color: #43497e;
}
.portlet {
	border: 1px solid #43497e;
}
.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(177, 221, 249, 0.2);
}
.table-hover tbody tr:hover {
    background-color: rgba(177, 221, 249, 0.2);
}
select {
	padding: 3px 5px;
}
.justify-end {
	justify-content: flex-end;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-15 {
	margin-bottom: 15px;
}
.table {
	margin-bottom: 1rem;
}
.ml-50 {
	margin-left: 50px;
}
.ck-editor {
	overflow: hidden;
}


.relationship_block {
    border: 1px solid #50467b;
    padding: 20px;
}

.reletionship_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.reletionship_title:after {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid #50467b;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
}

.relationship_block.active>.reletionship_title:after {
    transform: rotate(-135deg);
}

.reletionship_inner {
    display: none;
}

.relationship_block.active>.reletionship_inner {
    display: block;
}

.relationship_block.active>.reletionship_title {
    padding-bottom: 20px;
}

.relationships_block_title {
    margin: 10px 0 20px;
}