body, input, textarea {
	font-family: "Roboto", sans-serif;
	color: #333333;
}
img {
	max-width: 100%;
}
* {
	box-sizing: border-box;
	outline: none !important;
	-webkit-tap-highlight-color: transparent;
	/* -webkit-appearance:none; */
}
body, dl, dt, dd, ul, ol, li, form, table, tr, td, h1, h2, h3, h4, h5, h6, pre, p, span, b, i, input, textarea, fieldset {
	margin: 0;
	padding: 0;
}
.none {
	display: none;
}
.fade-out {
	opacity: 1;
	transition: 0.3s;
	pointer-events: auto;
}
.fade-out.active {
	opacity: 0;
	pointer-events: none;
}
.fade-in {
	opacity: 0;
	transition: 0.3s;
	pointer-events: none;
}
.fade-in.active {
	opacity: 1;
	pointer-events: auto;
}
.column {
	width: 1140px;
	margin: 0 auto;
}
.navbar-laravel {
	box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.my-form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.my-form .row {
	margin-left: 0;
	margin-right: 0;
}
.login-form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.login-form .row {
	margin-left: 0;
	margin-right: 0;
}
	
.topbar {
	padding: 10px 15px;
	background-color: #1f1f1f;
	color: #C5C5C5;
	font-size: 18px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sidebar {
	background-color: #303030;
	width: 235px;
	min-height: calc(100vh - 40px);
	overflow-y: auto;
}
.sidebar-menu-item {
	border-top: 1px solid #484848;
	color: #d9d9d9;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
}
.sidebar-menu-item.active,
.sidebar-menu-item:hover {
	background-color: #292929;
}
main {
	display: flex;
}
.content {
	width: calc(100% - 235px);
	padding: 15px;
}
.content-title {
	font-size: 28px;
	display: block;
	color: #666;
	margin: 0px 0px 15px 0px;
	font-weight: 300;
}
.control-label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
}
h1 {
	font-size: 33px;
	font-weight: 300;
	margin-bottom: 10px;
}
.rem {
	font-weight: bold;
	font-size: 33px;
	height: 38px;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
.table-editfields {
	margin-top: 15px;
}
.btn {
	cursor: pointer;
}
.disabled {
	opacity: 0.5;
}
.sides {
	display: flex;
	justify-content: space-between;
}
.portlet {
	border: 1px solid #30d0c1;
	margin-top: 25px;
}
.portlet-title {
	background-color: #26a69a;
	padding: 0 10px;
	margin-bottom: 0;
	color: #fff;
	line-height: 41px;
}
#datatable_filter {
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#datatable_filter label {
	margin: 0;
}
#datatable_filter input {
	margin-left: 15px;
}
.datatable {
	display: table;
	border-bottom: 1px solid #aaa;
}
.datatable tr {
	width: 100%;
}
.datatable .btn {
	padding-top: 1px;
	padding-bottom: 0;
	font-size: 14px;
}
.td-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 50px;
}
.td-actions-delete {
	margin-left: 5px;
}
td.td-content {
	vertical-align: middle;
	font-size: 14px;
}
.index-pagination {
	padding: 0 .75rem .75rem .75rem;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	align-items: center;
}
.index-pagination-btns {
	display: flex;
	align-items: center;
}
.index-pagination-numbers {
	display: flex;
}
.index-pagination-number {
	color: #333;
	padding: 0.5em 1em;
	margin-left: 2px;
	margin-right: 2px;
	border: 1px solid transparent;
	cursor: pointer;
}
.index-pagination-prev {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0.5em 1em;
	margin-right: 5px;
}
.index-pagination-next {
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0.5em 1em;
	margin-left: 5px;
}
.index-pagination-prev:hover,
.index-pagination-next:hover,
.index-pagination-number.active,
.index-pagination-number:hover {
	border: 1px solid #979797;
	background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
.index-pagination-prev.disabled:hover,
.index-pagination-next.disabled:hover {
	border: 1px solid transparent;
	background: transparent;
}
.index-pagination-prev.disabled,
.index-pagination-next.disabled {
	color: #727272;
	pointer-events: none;
}
.mass-delete-col {
	padding: 0 .75rem .75rem .75rem;
}
.space-between {
	display: flex;
	justify-content: space-between;
}
.align-self-flex-start {
	align-self: center;
}
.input-error {
	color: red;
}
.form-control-checkbox {
	width: auto;
}
.relationship-many {
	display: flex;
	margin-bottom: 10px;
}
.photo-preview-wrapper {
	display: flex;
	align-items: center;
	padding-top: 10px;
}
.photo-preview-img {
	max-height: 100px;
	margin-right: 10px;
}
.gallery-margin-top {
	margin-top: 10px;
}
.gallery-margin-top:nth-child(1) {
	margin-top: 0px;
}
.langs {
	display: flex;
	text-transform: uppercase;
}
.langs-elm {
	margin: 0 10px;
	cursor: pointer;
}
.langs-elm.active {
	color: white;
	text-decoration: underline;
}
.langs-elm:hover {
	text-decoration: underline;
}
.ck-editor__editable_inline {
	min-height: 250px;
}
.add-file-btn {
	margin-top: 10px;
}
#loader svg path,
#loader svg rect{
	fill: #FF6700;
}
#loader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.3s;
}
#loader.active {
	opacity: 1;
	pointer-events: auto;
}
.translate-field {
	margin-bottom: 15px;
}
.flex {
	display: flex;
}