@media (min-width: calc(494px)) {
			body {
				--coef-w: calc(var(--width) / -1310 + 1.3771);
				--offset: calc(4.6875vw * ((320 - 320 * var(--coef-w) + 30 * var(--coef-w)) / 30));
                --column-width: calc( (1px * var(--width)) - (2 * var(--offset)) );
			}
		}

		@media (max-width: calc(494px)) {
			body {
				--coef-w: 1;
				--column-width: 87.2vw;
				--offset: calc(50% - (var(--column-width) / 2));
			}
		}
        @font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('/fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Heavy.woff') format('woff'), url('/fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('/fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Medium.woff') format('woff'), url('/fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'), url('/fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Book.woff') format('woff'), url('/fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'), url('/fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Light.woff') format('woff'), url('/fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'), url('/fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Bold.woff') format('woff'), url('/fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --column-width: calc(90.625vw * var(--coef-w));
    --offset: calc(4.6875vw * var(--coef-w));
    --font-family: 'Futura PT';
    --color-text: #231F20;
    --color-grey: #A0A0A0;
    --color-main: #61C5BE;
    --color-second: #059F97;
    --color-back-and-stroke: #F6F6F6;
    --color-white: #FFFFFF;
    --color-red: #EC250C;
    --color-green: #0ee003;
}

.color-text {
    color: var(--color-text);
}

.color-red {
    color: var(--color-red);
}

.color-green {
    color: var(--color-green);
}

.color-grey {
    color: var(--color-grey);
}

.color-main {
    color: var(--color-main);
}

.color-second {
    color: var(--color-second);
}

.color-back-and-stroke {
    color: var(--color-back-and-stroke);
}

.color-white {
    color: var(--color-white);
}

body,
input,
textarea,
select {
    font-family: var(--font-family);
    font-size: calc(5vw * var(--coef-w));
    color: var(--color-text);
    -webkit-text-size-adjust: none;
}

img,
svg {
    max-width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
form,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
span,
b,
i,
input,
textarea,
fieldset {
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}

.fade-out {
    opacity: 1;
    transition: 0.3s;
    pointer-events: auto;
}

.fade-out.active {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.fade-in.active {
    opacity: 1;
    pointer-events: auto;
}

.container {
    padding-left: var(--offset);
    padding-right: var(--offset);
}

.container-offset {
    width: var(--column-width);
    margin-left: auto;
    margin-right: auto;
}

.h1,
.content h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(9.375vw * var(--coef-w));
    line-height: calc(11.875vw * var(--coef-w));
}

.main-h1 {
    margin-bottom: calc(6.25vw * var(--coef-w));
}

.h2,
.content h2 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(8.125vw * var(--coef-w));
    line-height: calc(9.375vw * var(--coef-w));
}

.h3,
.content h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(6.875vw * var(--coef-w));
    line-height: calc(8.125vw * var(--coef-w));
}

.h4,
.content h4 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(6.25vw * var(--coef-w));
    line-height: calc(8.125vw * var(--coef-w));
}

.h5,
.content h5 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(5vw * var(--coef-w));
    line-height: calc(5.625vw * var(--coef-w));
}

.main-text,
.content p,
.content li {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: calc(5vw * var(--coef-w));
    line-height: calc(6.25vw * var(--coef-w));
}

.extra-text,
.seo-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: calc(4.375vw * var(--coef-w));
    line-height: calc(5.9375vw * var(--coef-w));
}

a {
    text-decoration: none;
    display: block;
}

body {
    position: relative;
    height: 100%;
}

body.blocked {
    overflow: hidden;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-100 {
    margin-bottom: calc(18.75vw * var(--coef-w));
}

img[srcset] {
    object-fit: scale-down !important;
    object-position: center !important;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

#loader.active {
    opacity: 1;
    pointer-events: auto;
}

#loader path {
    fill: var(--color-second);
}

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: calc(12.5vw * var(--coef-w));
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-inner {
    display: flex;
    flex-direction: column;
}

.form-answer {
    text-align: center;
    display: none;
}

.error-404-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-404-image {
    width: calc(90.625vw * var(--coef-w));
    height: calc(50.3125vw * var(--coef-w));
    object-fit: cover
}

.error-404-title {
    margin: calc(9.375vw * var(--coef-w)) 0 calc(6.25vw * var(--coef-w));
    text-align: center;
}