@media (min-width: calc(494px)) and (max-width: calc(900px)) {
			body {
				--coef-w: calc(var(--width) / -1310 + 1.3771);
				--offset: calc(4.6875vw * ((320 - 320 * var(--coef-w) + 30 * var(--coef-w)) / 30));
                --column-width: calc( (1px * var(--width)) - (2 * var(--offset)) );
			}
		}

		@media (max-width: calc(494px)) {
			body {
				--coef-w: 1;
				--column-width: 87.2vw;
				--offset: calc(50% - (var(--column-width) / 2));
			}
		}
        @media (max-width: calc(900px)) { @font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Heavy.eot');
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('/fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Heavy.woff') format('woff'), url('/fonts/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'), url('/fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Medium.woff') format('woff'), url('/fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'), url('/fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Book.woff') format('woff'), url('/fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Light.eot');
    src: local('Futura PT Light'), local('FuturaPT-Light'), url('/fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Light.woff') format('woff'), url('/fonts/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('/fonts/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'), url('/fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/FuturaPT-Bold.woff') format('woff'), url('/fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --column-width: calc(90.625vw * var(--coef-w));
    --offset: calc(4.6875vw * var(--coef-w));
    --font-family: 'Futura PT';
    --color-text: #231F20;
    --color-grey: #A0A0A0;
    --color-main: #61C5BE;
    --color-second: #059F97;
    --color-back-and-stroke: #F6F6F6;
    --color-white: #FFFFFF;
    --color-red: #EC250C;
    --color-green: #0ee003;
}

.desktop {
    display: none;
}

.color-text {
    color: var(--color-text);
}

.color-red {
    color: var(--color-red);
}

.color-green {
    color: var(--color-green);
}

.color-grey {
    color: var(--color-grey);
}

.color-main {
    color: var(--color-main);
}

.color-second {
    color: var(--color-second);
}

.color-back-and-stroke {
    color: var(--color-back-and-stroke);
}

.color-white {
    color: var(--color-white);
}

body,
input,
textarea,
select {
    font-family: var(--font-family);
    font-size: calc(5vw * var(--coef-w));
    color: var(--color-text);
    -webkit-text-size-adjust: none;
}

img,
svg {
    max-width: 100%;
    display: block;
}

* {
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
form,
table,
tr,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
span,
b,
i,
input,
textarea,
fieldset {
    margin: 0;
    padding: 0;
}

.none {
    display: none;
}

.fade-out {
    opacity: 1;
    transition: 0.3s;
    pointer-events: auto;
}

.fade-out.active {
    opacity: 0;
    pointer-events: none;
}

.fade-in {
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.fade-in.active {
    opacity: 1;
    pointer-events: auto;
}

.container {
    padding-left: var(--offset);
    padding-right: var(--offset);
}

.container-offset {
    width: var(--column-width);
    margin-left: auto;
    margin-right: auto;
}

.h1,
.content h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(9.375vw * var(--coef-w));
    line-height: calc(11.875vw * var(--coef-w));
}

.main-h1 {
    margin-bottom: calc(6.25vw * var(--coef-w));
}

.h2,
.content h2 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(8.125vw * var(--coef-w));
    line-height: calc(9.375vw * var(--coef-w));
}

.h3,
.content h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(6.875vw * var(--coef-w));
    line-height: calc(8.125vw * var(--coef-w));
}

.h4,
.content h4 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(6.25vw * var(--coef-w));
    line-height: calc(8.125vw * var(--coef-w));
}

.h5,
.content h5 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 450;
    font-size: calc(5vw * var(--coef-w));
    line-height: calc(5.625vw * var(--coef-w));
}

.main-text,
.content p,
.content li {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: calc(5vw * var(--coef-w));
    line-height: calc(6.25vw * var(--coef-w));
}

.extra-text,
.seo-content p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: calc(4.375vw * var(--coef-w));
    line-height: calc(5.9375vw * var(--coef-w));
}

a {
    text-decoration: none;
    display: block;
}

body {
    position: relative;
    height: 100%;
}

body.blocked {
    overflow: hidden;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-100 {
    margin-bottom: calc(18.75vw * var(--coef-w));
}

img[srcset] {
    object-fit: scale-down !important;
    object-position: center !important;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

#loader.active {
    opacity: 1;
    pointer-events: auto;
}

#loader path {
    fill: var(--color-second);
}

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: calc(12.5vw * var(--coef-w));
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-inner {
    display: flex;
    flex-direction: column;
}

.form-answer {
    text-align: center;
    display: none;
}

.error-404-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.error-404-image {
    width: calc(90.625vw * var(--coef-w));
    height: calc(50.3125vw * var(--coef-w));
    object-fit: cover
}

.error-404-title {
    margin: calc(9.375vw * var(--coef-w)) 0 calc(6.25vw * var(--coef-w));
    text-align: center;
} 


    .content {
        color: var(--color-text);
    }

    .content figure {
        margin: 0;
    }

    .content h3{
        margin-top: calc(9.375vw * var(--coef-w));
    }

    .content ul, 
    .content ol,
    .content p {
        margin: calc(3.125vw * var(--coef-w)) 0;
    }

    .content li {
        margin: calc(1.5625vw * var(--coef-w)) calc(4.6875vw * var(--coef-w));
        padding-left: calc(1.5625vw * var(--coef-w));
    }

    .content li::marker {
        color: var(--color-second);
    }

    .content img {
        width: 100%;
        min-height: calc(101.875vw * var(--coef-w));
        object-fit: cover;
        margin: calc(6.25vw * var(--coef-w)) 0;
    }

    .content-images img {
        width: 100%;
        object-fit: cover;
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .content blockquote {
        margin: 0;
        padding: calc(7.8125vw * var(--coef-w)) calc(7.1875vw * var(--coef-w));
        border: 1px solid var(--color-main);
        box-sizing: border-box;
        margin: calc(9.375vw * var(--coef-w)) 0;
        position: relative;
        width: 100%;
    }

    .content blockquote:before {
        content: "";
        display: block;
        position: absolute;
        top: calc(-5.3125vw * var(--coef-w));
        left: calc(5.3125vw * var(--coef-w));
        width: calc(11.5625vw * var(--coef-w));
        height: calc(11.5625vw * var(--coef-w));
        padding: 0 calc(2.1875vw * var(--coef-w));
        background-color: #FFFFFF;
        background-image: url('/images/quote.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: calc(11.5625vw * var(--coef-w));
    }

    .content blockquote p {
        font-style: normal;
        font-weight: normal;
        font-size: calc(5vw * var(--coef-w));
        line-height: calc(6.25vw * var(--coef-w));
        text-align: center;
        color: var(--color-second);
        width: 100%;
    }


 

    .seo {
        order: 10000;
    }

    .seo-inner {
        background: var(--color-back-and-stroke);
        padding: calc(7.8125vw * var(--coef-w)) calc(6.25vw * var(--coef-w));
    }

    .seo-title{
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .seo-content{
        height: calc(81.25vw * var(--coef-w));
        overflow: auto;
        padding-right: calc(6.25vw * var(--coef-w));
    }

    .seo-content::-webkit-scrollbar {
        width: calc(1.2813vw * var(--coef-w));
    }

    .seo-content::-webkit-scrollbar-track {
        background: #E4E4E4;
    }

    .seo-content::-webkit-scrollbar-thumb {
        background: var(--color-main);
    }


 

    .breadcrumbs {
        background: var(--color-back-and-stroke);
        margin-bottom: calc(7.8125vw * var(--coef-w));
        padding: calc(2.1875vw * var(--coef-w)) 0;
    }

    .breadcrumbs-inner {
        display: inline;
        list-style: none;
    }

    .breadcrumbs-item {
        display: inline;
    }

    .breadcrumbs-link {
        font-style: normal;
        font-weight: normal;
        font-size: calc(3.75vw * var(--coef-w));
        line-height: calc(5vw * var(--coef-w));
        color: var(--color-grey);
        display: inline;
    }

    .breadcrumbs-link::after{
        content: "/";
        font-style: normal;
        font-weight: normal;
        font-size: calc(3.75vw * var(--coef-w));
        line-height: calc(5vw * var(--coef-w));
        color: var(--color-grey);
        margin: 0 calc(0.7813vw * var(--coef-w));
    }

    .breadcrumbs-last::after{
        display: none;
    }

    .breadcrumbs-last{
        color: var(--color-text);
    }


 

    .containercheckbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .containercheckbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        height: calc(6.25vw * var(--coef-w));
        width: calc(6.25vw * var(--coef-w));
        background-color: var(--color-back-and-stroke);
        transition: .3s;
        border-radius: 2px;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .containercheckbox input:checked~.checkmark:after {
        display: block;
        opacity: 1;
    }

    .containercheckbox input:checked~.checkmark {
        background: var(--color-second);
    }

    .containercheckbox .checkmark:after {
        left: 50%;
        top: calc(50% - 2px);
        transform: translate(-50%, -50%) rotate(45deg);
        width: calc(1.25vw * var(--coef-w));
        height: calc(2.5vw * var(--coef-w));
        border: solid var(--color-white);
        border-width: 0 calc(0.6563vw * var(--coef-w)) calc(0.6563vw * var(--coef-w)) 0;
        transition: .3s;
        z-index: 10;
    }

 
    
    .filter {
        padding: calc(4.6875vw * var(--coef-w)) 0 calc(2.1875vw * var(--coef-w));
        border-bottom: 1px solid var(--color-back-and-stroke);
    }


    .filter-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: calc(1.25vw * var(--coef-w));
        position: relative;
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        font-size: calc(4.375vw * var(--coef-w));
        line-height: calc(5.625vw * var(--coef-w));
        padding-right: calc(7.5vw * var(--coef-w));
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .filter-title:after {
        content: '';
        display: block;
        width: calc(3.75vw * var(--coef-w));
        height: 1px;
        background: var(--color-text);
    }

    .filter-title:before {
        position: absolute;
        right: calc(7.5vw * var(--coef-w));
        top: 50%;
        content: '';
        display: block;
        width: calc(3.4375vw * var(--coef-w));
        height: 1px;
        background: var(--color-text);
        transition: .3s;
        transform: translateY(-50%) rotate(90deg);
        opacity: 1;
    }

    .filter.active .filter-title::before {
        transform: translateY(-50%);
        opacity: 0;
    }

    .filter-fields {
        width: calc(65.625vw * var(--coef-w));
        padding-right: calc(4.6875vw * var(--coef-w));
        max-height: 0;
        overflow-y: auto;
        visibility: hidden;
        transition: .5s;
    }

    .filter-fields::-webkit-scrollbar {
        width: calc(1.5625vw * var(--coef-w));
    }

    .filter-fields::-webkit-scrollbar-track {
        background: var(--color-back-and-stroke);
    }

    .filter-fields::-webkit-scrollbar-thumb {
        background: var(--color-second);
    }

    .filter.active .filter-fields {
        max-height: calc(58.75vw * var(--coef-w));
        visibility: visible;
    }

    .filter.active:nth-child(2n) .filter-fields {
        max-height: calc(71.875vw * var(--coef-w));
    }

    .filter-field {
        margin-top: calc(1.25vw * var(--coef-w));
        width: calc(59.375vw * var(--coef-w));
    }

    .filter-field:last-child{
        margin-bottom: calc(2.5vw * var(--coef-w));
    }



 

    .filter-price .filter-title::before,
    .filter-price .filter-title::after {
        display: none;
    }


    .rs-container * {
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

    .rs-container {
        position: relative;
        margin-top: calc(3.125vw * var(--coef-w));

        padding-bottom: calc(4.6875vw * var(--coef-w));
        width: calc(62.5vw * var(--coef-w));
    }

    .rs-container .rs-bg,
    .rs-container .rs-selected {
        background-color: #EFEFEF;
        height: calc(1.25vw * var(--coef-w));
        left: 0;
        position: absolute;
        top: calc(1.5625vw * var(--coef-w));
        width: 100%;
        border-radius: 3px
    }
    

    .rs-container .rs-selected {
        background-color: var(--color-second);
        border: 1px solid var(--color-second);
        transition: all .2s linear;
        width: 0;
        margin-left: calc(1.5625vw * var(--coef-w));
    }

    .rs-container.disabled .rs-selected {
        background-color: var(--color-back-and-stroke);
    }

    .rs-container .rs-pointer {
        width: calc(5vw * var(--coef-w));
        height: calc(5vw * var(--coef-w));
        cursor: pointer;
        left: calc(-3.125vw * var(--coef-w));
        position: absolute;
        top: 0;
        transition: all .2s linear;
        background: var(--color-second);
        border-radius: 50%;
    }

    .rs-container.disabled .rs-pointer {
        cursor: default
    }

    .rs-container.sliding .rs-pointer,
    .rs-container.sliding .rs-selected {
        transition: none
    }

    .rs-container .rs-scale {
        left: 0;
        position: absolute;
        top: calc(1.875vw * var(--coef-w));
        white-space: nowrap
    }

    .rs-container .rs-scale span {
        float: left;
        position: relative
    }

    .rs-container .rs-scale span::before {
        background-color: var(--color-back-and-stroke);
        content: "";
        height: calc(2.5vw * var(--coef-w));
        left: 0;
        position: absolute;
        top: calc(3.125vw * var(--coef-w));
        width: 1px
    }

    .rs-container.rs-noscale span::before {
        display: none
    }

    .rs-container.rs-noscale span:first-child::before,
    .rs-container.rs-noscale span:last-child::before {
        display: block
    }

    .rs-container .rs-scale span:last-child {
        margin-left: -1px;
        width: 0
    }

    .rs-container .rs-scale span ins {
        color: var(--color-text);
        display: inline-block;
        font-size: calc(3.75vw * var(--coef-w));
        margin-top: calc(6.25vw * var(--coef-w));
        text-decoration: none
    }

    .rs-container.disabled .rs-scale span ins {
        color: var(--color-back-and-stroke);
    }

    .priceslider-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-top: calc(2.5vw * var(--coef-w));
    }

    .priceslider-input-wrapper {
        display: flex;
        align-items: center;
    }

    .priceslider-inner input {
        background: var(--color-white);
        width: calc(21.875vw * var(--coef-w));
        height: calc(9.375vw * var(--coef-w));
        text-align: center;
        -webkit-appearance: none;
        font-style: normal;
        font-weight: normal;
        font-size: calc(4.375vw * var(--coef-w));
        line-height: calc(5.9375vw * var(--coef-w));
        text-align: center;
        color: var(--color-text);
        border: 1px solid var(--color-back-and-stroke);
        display: block;
        margin-left: calc(3.125vw * var(--coef-w));
        border-radius: 2px;
    }

    .priceslider-input {
        display: flex;
        align-items: center;
    }

    .rs-tooltip {
        display: none;
        color: var(--color-white);
        width: auto;
        min-width: calc(18.75vw * var(--coef-w));
        height: calc(9.375vw * var(--coef-w));
        background: var(--color-second);
        border: 1px solid var(--color-second);
        border-radius: 3px;
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        top: calc(-12.5vw * var(--coef-w));
        text-align: center;
        font-size: calc(4.0625vw * var(--coef-w));
        padding: calc(1.875vw * var(--coef-w)) calc(3.125vw * var(--coef-w)) 0
    }
    /* 
    .rs-container .rs-pointer:before {
        content: '';
        display: block;
        width: calc(4.6875vw * var(--coef-w));
        height: calc(4.6875vw * var(--coef-w));
        background-color: var(--color-second);
        position: absolute;
        top: calc(-7.1875vw * var(--coef-w));
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        color: var(--color-white);
    } */




 
    
    #filters {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(1, 1, 1, .5);
        display: none;
        justify-content: flex-end;
        z-index: 10000;
        max-height: 100%;
    }

    #filters.active {
        display: flex;
    }


    .filters {
        width: calc(75vw * var(--coef-w));
        top: 0;
        right: 0;
        background-color: #fff;
        height: 100%;
        overflow-y: scroll;
        border-radius: calc(1.5625vw * var(--coef-w)) calc(0vw * var(--coef-w)) calc(0vw * var(--coef-w)) calc(0vw * var(--coef-w));
    }

    .fitler-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--color-second);
        padding: calc(3.4375vw * var(--coef-w)) calc(4.6875vw * var(--coef-w));
        position: relative;
        border-radius: calc(1.5625vw * var(--coef-w)) calc(0vw * var(--coef-w)) calc(0vw * var(--coef-w)) calc(0vw * var(--coef-w));
    }

    .close-filter-svg {
        position: absolute;
        left: calc(4.6875vw * var(--coef-w));
        top: 50%;
        transform: translateY(-50%);
        width: calc(4.6875vw * var(--coef-w));
    }

    .filters-content {
        padding: 0 calc(4.6875vw * var(--coef-w));
    }

    .filter-header-title{
        font-style: normal;
        font-weight: 500;
        font-size: calc(4.375vw * var(--coef-w));
        line-height: calc(5.625vw * var(--coef-w));
        text-align: center;
        width: 100%;
    }

    .clear-filter {
        font-style: normal;
        font-weight: normal;
        font-size: calc(4.375vw * var(--coef-w));
        line-height: calc(5.9375vw * var(--coef-w));
        margin-top: calc(3.75vw * var(--coef-w));
        text-decoration-line: underline;
    }




 

    .select {
        position: relative;
        min-width: calc(41.5625vw * var(--coef-w));
        height: calc(9.375vw * var(--coef-w));
        cursor: pointer;
    }

    .select-title, 
    .select-item {
        font-style: normal;
        font-weight: normal;
        font-size: calc(3.75vw * var(--coef-w));
        line-height: calc(5vw * var(--coef-w));
    }

    .select-title {
        display: flex;
        align-items: center;
        border: 1px solid var(--color-back-and-stroke);
        border-radius: calc(1.5625vw * var(--coef-w));
        background: var(--color-white);
        padding: calc(2.1875vw * var(--coef-w)) calc(1.875vw * var(--coef-w));
        position: relative;
    }

    .select-title::after {
        position: absolute;
        right: calc(2.5vw * var(--coef-w));
        top: 50%;
        display: block;
        content: "";
        width: calc(1.5625vw * var(--coef-w));
        height: calc(1.5625vw * var(--coef-w));
        border: 1px solid var(--color-grey);
        transform: translateY(-50%) rotate(45deg);
        transition: .3s;
        border-left: none;
        border-top: none;
        margin-top: -2px;
    }

    .select.active .select-title::after {
        margin-top: 3px;
        transform: translateY(-50%) rotate(225deg);
    }

    .select-items{
        position: absolute;
        top: calc(100% + calc(1.5625vw * var(--coef-w)));
        left: 0;
        width: 100%;
        z-index: 100;
        background: #FFFFFF;
        box-shadow: calc(0vw * var(--coef-w)) calc(1.25vw * var(--coef-w)) calc(9.375vw * var(--coef-w)) rgba(0, 0, 0, 0.07);
        border-radius: calc(1.5625vw * var(--coef-w));
        padding: calc(1.875vw * var(--coef-w));
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: .3s;
    }

    .select.active .select-items {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .select-item {
        margin-bottom: calc(2.1875vw * var(--coef-w));
    }

    .select-item:last-child{
        margin-bottom: 0;
    }



 
    
    .sort {
        margin-bottom: calc(6.25vw * var(--coef-w));
        display: flex;
        align-items: center;
    }

    .sort-title {
        margin-right: calc(6.25vw * var(--coef-w));
        display: none;
    }


 
    
    .btn-filters{
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(9.375vw * var(--coef-w));
        width: calc(43.125vw * var(--coef-w));
        border: 1px solid var(--color-second);
        border-radius: calc(1.5625vw * var(--coef-w));
        font-style: normal;
        font-weight: 450;
        font-size: calc(3.75vw * var(--coef-w));
        line-height: calc(5vw * var(--coef-w));
        color: var(--color-second);
    }

    .btn-filters-svg {
        width: calc(4.0625vw * var(--coef-w));
        height: calc(2.8125vw * var(--coef-w));
        margin-right: calc(1.5625vw * var(--coef-w));
    }

    .btn-filters-count{
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-second);
        border-radius: 50%;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-size: calc(3.125vw * var(--coef-w));
        line-height: calc(4.0625vw * var(--coef-w));
        color: var(--color-white);
        width: calc(4.375vw * var(--coef-w));
        height: calc(4.375vw * var(--coef-w));
        margin-left: calc(2.1875vw * var(--coef-w));
    }


 
     
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;

        font-style: normal;
        font-weight: 450;
        font-size: calc(5vw * var(--coef-w));
        text-align: center;
        padding: calc(3.125vw * var(--coef-w)) calc(7.1875vw * var(--coef-w));
        border-radius: calc(1.875vw * var(--coef-w));
        background: var(--color-second);
        border: calc(0.6563vw * var(--coef-w)) solid var(--color-second);
        color: var(--color-white);
        transition: .3s;
        cursor: pointer;
        text-decoration: none;
        flex-shrink: 0;
    }

    .btn-empty {
        background: none;
        color: var(--color-second);
        border-radius: calc(1.875vw * var(--coef-w));
    }

    .btn-dark {
        background: #15615B;
    }

    .btn-horizontal {
        width: 100%;
        padding: calc(2.1875vw * var(--coef-w)) 0;
        display: block;
    }
    
    .btn:hover {
        background: var(--color-white);
        color: var(--color-main);
        border-color: var(--color-main)
    }

    .btn-empty:hover {
        background: var(--color-second);
        color: var(--color-white);
        border-color: var(--color-second)
    }

    .btn-dark:hover {
        background: #0E534E;
        border-color: #0E534E;
        color: var(--color-white);
    }

    .btn-center {
        width: calc(56.25vw * var(--coef-w));
        display: block;
        padding: calc(3.4375vw * var(--coef-w)) 0;
        margin: 0 auto;
    }

    .btn-small {
        padding: calc(2.1875vw * var(--coef-w)) calc(10.3125vw * var(--coef-w));
    }

    .btn-contacts {
        width: 100%;
        margin-top: calc(1.5625vw * var(--coef-w));
    }

    .btn-product {
        width: calc(43.75vw * var(--coef-w));
    }

    .btn-catalog {
        margin-bottom: calc(6.25vw * var(--coef-w));
    }

    .btn-project {
        margin-top: calc(7.8125vw * var(--coef-w));
    }

    button {
        border: none;
        font-family: var(--font-family);
        width: 100%;
    }

 

    .product-card {
        width: calc(42.5vw * var(--coef-w));
        margin-right: 0;
        margin-bottom: calc(9.375vw * var(--coef-w));
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .product-card.inactive {
        pointer-events: none;
        opacity: .3;
    }

    .product-card-image{
        width: 100%;
        height: calc(42.1875vw * var(--coef-w));
        object-fit: contain;
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .product-card-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .product-card-title {
        font-style: normal;
        font-weight: 450;
        font-size: calc(5vw * var(--coef-w));
        line-height: calc(5.625vw * var(--coef-w));
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .product-card-price {
        font-style: normal;
        font-weight: 450;
        font-size: calc(5.625vw * var(--coef-w));
        line-height: calc(6.25vw * var(--coef-w));
        margin-bottom: calc(4.6875vw * var(--coef-w));
    }

    .product-card-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: calc(26.5625vw * var(--coef-w));
        width: 100%;
    }

    .product-card .btn{
        width: 100%;
    }


 
    
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .products .product-card:nth-child(2n) {
        margin-right: 0;
    }


 

    .pagination-wrapper {
        /* margin-top: calc(-18.75vw * var(--coef-w)); */
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .pagination-btn {
        width: calc(9.375vw * var(--coef-w));
        height: calc(9.375vw * var(--coef-w));
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: calc(4.375vw * var(--coef-w));
        line-height: calc(5.9375vw * var(--coef-w));
        color: var(--color-text);
        margin: 0 calc(1.0938vw * var(--coef-w));
        background: var(--color-back-and-stroke);
        border-radius: calc(1.5625vw * var(--coef-w));
        cursor: pointer;
    }

    .pagination-btn.active {
        background-color: var(--color-second);
        color: var(--color-white);
    }

    .pagination-btn path {
        fill: var(--color-text);
    }

    .pagination-arrow-left,
    .pagination-arrow-right {
        width: calc(3.75vw * var(--coef-w));
        height: calc(3.75vw * var(--coef-w));
    }


 


    .input {
        width: 100%;
        padding: calc(2.8125vw * var(--coef-w)) calc(4.6875vw * var(--coef-w));
        font-family: "Futura PT";
        font-style: normal;
        font-weight: normal;
        font-size: calc(4.0625vw * var(--coef-w));
        line-height: calc(7.1875vw * var(--coef-w));
        border: 1px solid var(--color-back-and-stroke);
        border-radius: calc(1.875vw * var(--coef-w));
    }

    .input::placeholder {
        color: var(--color-grey);
    }

    .input-contacts {
        padding: calc(2.5vw * var(--coef-w)) calc(4.6875vw * var(--coef-w));
    }

    .textarea {
        min-height: calc(37.5vw * var(--coef-w));
    }

    .textarea::-webkit-input-placeholder{
        color: var(--color-grey);
    }



 


    .menu {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        list-style: none;
        margin-bottom: calc(6.25vw * var(--coef-w));
        width: 100%; 
    }

    a.menu-item {
        font-style: normal;
        font-weight: normal;
        font-size: calc(5.625vw * var(--coef-w));
        line-height: calc(8.75vw * var(--coef-w));
        color: var(--color-text);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        transition: .3s;
    }

    /* .menu-item-parent::after {
        display: block;
        content: "";
        border: 1px solid var(--color-text);
        width: calc(1.875vw * var(--coef-w));
        height: calc(1.875vw * var(--coef-w));
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
        margin-left: calc(1.875vw * var(--coef-w));
        transition: .3s
    } */

    .menu-item-parent.back{
        color: var(--color-grey);
        flex-direction: row-reverse;
        justify-content: flex-end !important;
    }

    .menu-item-parent.back svg{
        transform: rotate(180deg);
        margin-right: calc(3.125vw * var(--coef-w));
    }

    .menu-item-parent.back svg path {
        fill: var(--color-grey);
    }

    .menu-item-parent-svg{
        width: calc(2.8125vw * var(--coef-w));
        height: calc(2.8125vw * var(--coef-w));
    }
    
    .menu-item-wrapper {
        position: relative;
        display: block;
        width: 100%;
        padding: calc(1.5625vw * var(--coef-w)) 0;
    }

    .menu-item-wrapper:last-child {
        margin-right: 0;
    }

    .submenu {
        display: none;
        list-style: none;
    }

    .submenu.active {
        display: block;
    }

    .submenu-item.menu-item-parent {
        justify-content: space-between;
        width: 100%;
    }
    .submenu-item.menu-item-parent::after {
        transform: rotate(45deg) !important;
        margin: 0 !important;
    }

    header.with-submenu .langs,
    header.with-submenu .header-phones,
    header.with-submenu .btn {
        display: none;
    }
    




 
	
	.logo{
		width: calc(23.75vw * var(--coef-w));
	}

	header {
		display: flex;
		width: 100%;
		position: sticky;
		top: -1px;
		left: 0;
		background: var(--color-white);
		z-index: 10000;
	}

	header .container {
		width: 100%;
	}

	.header-icons {
		display: flex;
		align-items: center;
	}

	.header-icons-search {
		margin-right: calc(6.25vw * var(--coef-w));
	}

	.header-icons-search-open {
		width: calc(5.9375vw * var(--coef-w));
		height: calc(5.9375vw * var(--coef-w));
	}

	.search-form {
		position: absolute;
		top: calc(1.25vw * var(--coef-w));
		left: var(--offset);
		width: calc(90.625vw * var(--coef-w));
		flex-shrink: 0;
		z-index: 1000;
		display: none;
	}

	.search-form input {
		height: calc(11.875vw * var(--coef-w));
		padding-left: calc(13.75vw * var(--coef-w));
	}

	.search-form-items{
		position: absolute;
		top: calc(100% + calc(1.5625vw * var(--coef-w)));
		left: 0;
		width: 100%;
		background: #FFFFFF;
		box-shadow: calc(0vw * var(--coef-w)) calc(1.25vw * var(--coef-w)) calc(9.375vw * var(--coef-w)) rgba(0, 0, 0, 0.07);
		border-radius: calc(1.5625vw * var(--coef-w));
		z-index: 1000;
		padding: calc(3.125vw * var(--coef-w)) calc(6.25vw * var(--coef-w));
		display: none;
	}

	.search-form-item {
		padding: calc(3.125vw * var(--coef-w)) 0;
		border-bottom: 1px solid var(--color-back-and-stroke); 
	}
	
	.search-form-item:first-child{
		padding-top: 0;
	}

	.search-form-item:last-child{
		padding-bottom: 0;
		border: none;
	}

	.search-icon {
		position: absolute;
		top: 50%;
		left: calc(3.125vw * var(--coef-w));
		transform: translateY(-50%);
		width: calc(5.9375vw * var(--coef-w));
		height: calc(5.9375vw * var(--coef-w));
	}

	.search-icon path{
		fill: var(--color-second);
	}

	.search-clear {
		width: calc(3.75vw * var(--coef-w));
		height: calc(3.75vw * var(--coef-w));
		position: absolute;
		top: 50%;
		right: calc(3.75vw * var(--coef-w));
		transform: translateY(-50%);
	}

	.first-header {
		display: none;
	}

	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: calc(2.1875vw * var(--coef-w)) 0;
	}

	:root {
		--app-height: 100%;
	}

	.header-wrapper {
		overflow: auto;
		max-height: 100vh;
		width: 100%;
		max-height: var(--app-height);
	}

	header.active .header-wrapper{
		min-height: 100vh;
		background: var(--color-white);
		height: var(--app-height);
	}

	.header-wrapper::-webkit-scrollbar{
		display: none;
	}

	.header-wrapper.active {
		height: var(--app-height);
	}

	header.active .toggle-menu {
		transform: translateX(8px);
	}

	.toggle-menu{
		width: calc(9.375vw * var(--coef-w));
		height: calc(9.375vw * var(--coef-w));
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		position: relative;
		transition: .3s;
	}

	.toggle-menu-item{
		display: block;
		width: calc(9.375vw * var(--coef-w));
		height: 2px;
		background: var(--color-second);
		margin: calc(1.0938vw * var(--coef-w)) 0;
		transition: .3s;
		opacity: 1;
	}

	header.active .toggle-menu-item{
		width: calc(7.8125vw * var(--coef-w));
	}

	header.active .toggle-menu-item:nth-child(2){
		opacity: 0;
	}

	header.active .toggle-menu-item:nth-child(1){
		transform: rotate(45deg);
		transform-origin: left top;
	}

	header.active .toggle-menu-item:nth-child(3){
		transform: rotate(-45deg);
		transform-origin: left bottom;
	}

	.mobile-menu {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		/* position: absolute;
        top: calc(100% - 1px);
        left: 0; */
		position: relative;
        background: var(--color-white);
        width: 100%;
        padding: 0 var(--offset) calc(12.5vw * var(--coef-w));
	}

	header.active .mobile-menu{
		display: flex;
	}

	.langs {
		display: flex;
		align-items: center;
	}

	.lang {
		font-style: normal;
		font-weight: normal;
		font-size: calc(5vw * var(--coef-w));
		line-height: calc(8.75vw * var(--coef-w));
		color: var(--color-grey);
		margin-right: calc(3.125vw * var(--coef-w));
		text-transform: uppercase;
		transition: .3s
	}

	.lang:last-child {
		margin-right: 0;
	}

	.lang.active {
		text-decoration-line: underline;
		color: var(--color-text);
		font-weight: 450;
	}

	.header-menu-langs-and-user {
		display: flex;
		align-items: center;
		margin-bottom: calc(9.375vw * var(--coef-w));
	}

	.header-icons-user-link {
		display: block;
		margin-left: calc(7.8125vw * var(--coef-w));
		padding-left: calc(7.8125vw * var(--coef-w));
		border-left: 1px solid var(--color-back-and-stroke); 
	}

	.header-icons-user {
		width: calc(7.1875vw * var(--coef-w));
		height: calc(7.1875vw * var(--coef-w));
	}

	.header-phones {
		margin-right: calc(7.8125vw * var(--coef-w));
		flex-shrink: 0;
		margin-bottom: calc(6.25vw * var(--coef-w));
	}

	.header-phone {
		font-style: normal;
		font-weight: normal;
		font-size: calc(5.625vw * var(--coef-w));
		line-height: calc(8.75vw * var(--coef-w));
		color: var(--color-text);
		display: flex;
		align-items:center;
		text-decoration: none;
		transition: .3s;
	}

	.header-phone-icon {
		width: calc(4.375vw * var(--coef-w));
		height: calc(4.375vw * var(--coef-w));
		margin-right: calc(3.125vw * var(--coef-w));
	}
	
	.header-phone-icon path {
		fill: var(--color-second);
	}

	.header-icons-buy {
		width: calc(8.125vw * var(--coef-w));
		height: calc(8.125vw * var(--coef-w));
	}

	.header-icons-buy-link {
		position: relative;
		width: calc(8.125vw * var(--coef-w));
		height: calc(8.125vw * var(--coef-w));
		cursor: pointer;
		margin-right: calc(5.625vw * var(--coef-w));
	}

	.header-icons-circle {
		background: var(--color-second);
		width: calc(5.625vw * var(--coef-w));
		height: calc(5.625vw * var(--coef-w));
		border-radius: 50%;
		position: absolute;
		top: calc(-1.5625vw * var(--coef-w));
		right: calc(-1.875vw * var(--coef-w));
		font-style: normal;
		font-weight: normal;
		font-size: calc(3.75vw * var(--coef-w));
		line-height: calc(5vw * var(--coef-w));
		text-align: center;
		color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	

 
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 10000;
    }

    .modal.active {
        height: 100%;
    }

    .container-modal {
        width: calc(90.625vw * var(--coef-w));
        background: var(--color-white);
        display: flex;
        padding: calc(7.8125vw * var(--coef-w)) calc(6.25vw * var(--coef-w));
        flex-direction: column;
        position: absolute;
        top: calc(15.625vw * var(--coef-w));
        left: 50%;
        transform: translateX(-50%);
        border-radius: calc(1.875vw * var(--coef-w));
    }

    .modal .close {
        cursor: pointer;
        position: absolute;
        top: calc(5.8125vw * var(--coef-w));
        right: calc(5.8125vw * var(--coef-w));
    }

    .modal .close svg {
        width: calc(3.75vw * var(--coef-w));
        height: calc(3.75vw * var(--coef-w));
    }

    .modal-title {
        font-style: normal;
        font-weight: 450;
        font-size: calc(6.875vw * var(--coef-w));
        line-height: calc(8.125vw * var(--coef-w));
        text-align: center;
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal-desc {
        text-align: center;
        margin-bottom: calc(4.6875vw * var(--coef-w));
    }

    .modal .input {
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal .textarea {
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .form-answer {
        margin-top: calc(1.5625vw * var(--coef-w));
    }



 
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 10000;
    }

    .modal.active {
        height: 100%;
    }

    .container-modal {
        width: calc(90.625vw * var(--coef-w));
        background: var(--color-white);
        display: flex;
        padding: calc(7.8125vw * var(--coef-w)) calc(6.25vw * var(--coef-w));
        flex-direction: column;
        position: absolute;
        top: calc(15.625vw * var(--coef-w));
        left: 50%;
        transform: translateX(-50%);
        border-radius: calc(1.875vw * var(--coef-w));
    }

    .modal .close {
        cursor: pointer;
        position: absolute;
        top: calc(5.8125vw * var(--coef-w));
        right: calc(5.8125vw * var(--coef-w));
    }

    .modal .close svg {
        width: calc(3.75vw * var(--coef-w));
        height: calc(3.75vw * var(--coef-w));
    }

    .modal-title {
        font-style: normal;
        font-weight: 450;
        font-size: calc(6.875vw * var(--coef-w));
        line-height: calc(8.125vw * var(--coef-w));
        text-align: center;
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal-desc {
        text-align: center;
        margin-bottom: calc(4.6875vw * var(--coef-w));
    }

    .modal .input {
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal .textarea {
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .form-answer {
        margin-top: calc(1.5625vw * var(--coef-w));
    }


 

    .cart-product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: calc(4.6875vw * var(--coef-w)) 0;
        border-bottom: 1px solid var(--color-back-and-stroke);
    }

    .cart-checkout-products .cart-product {
        align-items: flex-start;
    }

    .cart-product:last-child{
        border: none;
    }

    .delete-cart-product {
        flex-shrink: 0;
        order: 3;
    }

    .delete-cart-product-svg {
        width: calc(4.0625vw * var(--coef-w));
        height: calc(4.0625vw * var(--coef-w));
        cursor: pointer;
    }

    .cart-product-photo-wrapper {
        margin-right: calc(3.125vw * var(--coef-w)); 
        flex-shrink: 0;
        order: 1;
    }

    .cart-product-photo {
        width: calc(15.625vw * var(--coef-w));
        height: calc(15.625vw * var(--coef-w));
        object-fit: contain;
    }

    .cart-product-info {
        width: calc(51.25vw * var(--coef-w));
        order: 2;
    }

    .cart-product-title {
        width: calc(51.25vw * var(--coef-w));
        font-style: normal;
        font-weight: 500;
        font-size: calc(3.75vw * var(--coef-w));
        line-height: calc(5vw * var(--coef-w));
    }

    .cart-product .counter {
        margin: 0;
    }

    .cart-product-description-item {
        font-style: normal;
        font-weight: normal;
        font-size: calc(3.75vw * var(--coef-w));
        line-height: calc(6.875vw * var(--coef-w));
    }

    .cart-product-description {
        margin-top: calc(1.5625vw * var(--coef-w));
    }

    .cart-product-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        order: 4;
        margin-top: calc(3.125vw * var(--coef-w));
    }

    .cart-product-price {
        font-style: normal;
        font-weight: 500;
        font-size: calc(4.0625vw * var(--coef-w));
        line-height: calc(6.25vw * var(--coef-w));
        margin-top: calc(2.1875vw * var(--coef-w));
    }

    .cart-checkout-products .cart-product-right .counter {
        margin-right: 0;
    }

    .cart-checkout-products .cart-product-price {
        font-style: normal;
        font-weight: 500;
        font-size: calc(4.0625vw * var(--coef-w));
        line-height: calc(6.25vw * var(--coef-w));
        margin-top: calc(2.1875vw * var(--coef-w));
        text-align: right;
    }

    .cart-price-items {
        padding: calc(5.3125vw * var(--coef-w)) 0;
        border-top: 1px solid var(--color-back-and-stroke);
        border-bottom: 1px solid var(--color-back-and-stroke);
        margin-bottom: calc(4.6875vw * var(--coef-w));
    }

    .cart-price-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: calc(1.5625vw * var(--coef-w));
    }

    .cart-price-item:last-child {
        margin-bottom: 0;
    }

    .cart-price-item-title {
        font-style: normal;
        font-weight: 500;
        font-size: calc(4.375vw * var(--coef-w));
        line-height: calc(6.25vw * var(--coef-w));
    }

    .cart-price-item-value {
        font-style: normal;
        font-weight: normal;
        font-size: calc(4.375vw * var(--coef-w));
        line-height: calc(7.5vw * var(--coef-w));
    }

    .cart-price {
        font-style: normal;
        font-weight: 500;
        font-size: calc(5vw * var(--coef-w));
        line-height: calc(7.5vw * var(--coef-w));
        margin-bottom: calc(3.125vw * var(--coef-w));
        text-align: right;
    }

    .cart-price-all-value {
        font-style: normal;
        font-weight: 500;
        font-size: calc(5vw * var(--coef-w));
        line-height: calc(7.5vw * var(--coef-w));
    }

    .cart-btns {
        display: flex;
        flex-direction: column-reverse;
    }

    .cart-btns-right {
        margin-bottom: calc(3.125vw * var(--coef-w));
    }


 
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 10000;
    }

    .modal.active {
        height: 100%;
    }

    .container-modal {
        width: calc(90.625vw * var(--coef-w));
        background: var(--color-white);
        display: flex;
        padding: calc(7.8125vw * var(--coef-w)) calc(6.25vw * var(--coef-w));
        flex-direction: column;
        position: absolute;
        top: calc(15.625vw * var(--coef-w));
        left: 50%;
        transform: translateX(-50%);
        border-radius: calc(1.875vw * var(--coef-w));
    }

    .modal .close {
        cursor: pointer;
        position: absolute;
        top: calc(5.8125vw * var(--coef-w));
        right: calc(5.8125vw * var(--coef-w));
    }

    .modal .close svg {
        width: calc(3.75vw * var(--coef-w));
        height: calc(3.75vw * var(--coef-w));
    }

    .modal-title {
        font-style: normal;
        font-weight: 450;
        font-size: calc(6.875vw * var(--coef-w));
        line-height: calc(8.125vw * var(--coef-w));
        text-align: center;
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal-desc {
        text-align: center;
        margin-bottom: calc(4.6875vw * var(--coef-w));
    }

    .modal .input {
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal .textarea {
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .form-answer {
        margin-top: calc(1.5625vw * var(--coef-w));
    }


 
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 10000;
    }

    .modal.active {
        height: 100%;
    }

    .container-modal {
        width: calc(90.625vw * var(--coef-w));
        background: var(--color-white);
        display: flex;
        padding: calc(7.8125vw * var(--coef-w)) calc(6.25vw * var(--coef-w));
        flex-direction: column;
        position: absolute;
        top: calc(15.625vw * var(--coef-w));
        left: 50%;
        transform: translateX(-50%);
        border-radius: calc(1.875vw * var(--coef-w));
    }

    .modal .close {
        cursor: pointer;
        position: absolute;
        top: calc(5.8125vw * var(--coef-w));
        right: calc(5.8125vw * var(--coef-w));
    }

    .modal .close svg {
        width: calc(3.75vw * var(--coef-w));
        height: calc(3.75vw * var(--coef-w));
    }

    .modal-title {
        font-style: normal;
        font-weight: 450;
        font-size: calc(6.875vw * var(--coef-w));
        line-height: calc(8.125vw * var(--coef-w));
        text-align: center;
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal-desc {
        text-align: center;
        margin-bottom: calc(4.6875vw * var(--coef-w));
    }

    .modal .input {
        margin-bottom: calc(2.5vw * var(--coef-w));
        height: calc(12.5vw * var(--coef-w));
    }

    .modal .textarea {
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .form-answer {
        margin-top: calc(1.5625vw * var(--coef-w));
    }

    .login-form .containercheckbox {
		margin-bottom: calc(5vw * var(--coef-w));
		padding-left: calc(8.75vw * var(--coef-w));

        font-style: normal;
        font-weight: normal;
        font-size: calc(3.75vw * var(--coef-w));
        line-height: calc(6.25vw * var(--coef-w));
	}

	.login-form .containercheckbox .checkmark {
		right: auto;
		left: 0;
        width: calc(5.625vw * var(--coef-w));
        height: calc(5.625vw * var(--coef-w));
	}

	.login-form .containercheckbox p {
		display: inline;
	}

	.login-form .containercheckbox p a {
		display: inline;
		color: var(--color-second);
		text-decoration: underline;

	}

    .login-title {
        margin-bottom: calc(4.6875vw * var(--coef-w));
        text-align: center;
    }

    .login-buttons {
        margin-top: calc(4.6875vw * var(--coef-w));
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button-register {
        text-decoration: underline;
        cursor: pointer;
    }

    .button-forgot {
        cursor: pointer;
    }



 
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 10000;
    }

    .modal.active {
        height: 100%;
    }

    .container-modal {
        width: calc(90.625vw * var(--coef-w));
        background: var(--color-white);
        display: flex;
        padding: calc(7.8125vw * var(--coef-w)) calc(6.25vw * var(--coef-w));
        flex-direction: column;
        position: absolute;
        top: calc(15.625vw * var(--coef-w));
        left: 50%;
        transform: translateX(-50%);
        border-radius: calc(1.875vw * var(--coef-w));
    }

    .modal .close {
        cursor: pointer;
        position: absolute;
        top: calc(5.8125vw * var(--coef-w));
        right: calc(5.8125vw * var(--coef-w));
    }

    .modal .close svg {
        width: calc(3.75vw * var(--coef-w));
        height: calc(3.75vw * var(--coef-w));
    }

    .modal-title {
        font-style: normal;
        font-weight: 450;
        font-size: calc(6.875vw * var(--coef-w));
        line-height: calc(8.125vw * var(--coef-w));
        text-align: center;
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal-desc {
        text-align: center;
        margin-bottom: calc(4.6875vw * var(--coef-w));
    }

    .modal .input {
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal .textarea {
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .form-answer {
        margin-top: calc(1.5625vw * var(--coef-w));
    }

    .register-form .containercheckbox {
		margin-bottom: calc(5vw * var(--coef-w));
		padding-left: calc(8.75vw * var(--coef-w));

        font-style: normal;
        font-weight: normal;
        font-size: calc(3.75vw * var(--coef-w));
        line-height: calc(6.25vw * var(--coef-w));
	}

	.register-form .containercheckbox .checkmark {
		right: auto;
		left: 0;
        width: calc(5.625vw * var(--coef-w));
        height: calc(5.625vw * var(--coef-w));
	}

	.register-form .containercheckbox p {
		display: inline;
	}

	.register-form .containercheckbox p a {
		display: inline;    
		color: var(--color-second);
		text-decoration: underline;
	}

    .register-title {
        margin-bottom: calc(6.25vw * var(--coef-w));
        text-align: center;
    }

    .register-buttons {
        margin-top: calc(4.6875vw * var(--coef-w));
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button-already {
        cursor: pointer;
        margin-right: calc(3.125vw * var(--coef-w));
    }

    .button-login {
        text-decoration: underline;
        cursor: pointer;
    }


 
    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);;
        align-items: center;
        justify-content: center;
        display: flex;
        z-index: 10000;
    }

    .modal.active {
        height: 100%;
    }

    .container-modal {
        width: calc(90.625vw * var(--coef-w));
        background: var(--color-white);
        display: flex;
        padding: calc(7.8125vw * var(--coef-w)) calc(6.25vw * var(--coef-w));
        flex-direction: column;
        position: absolute;
        top: calc(15.625vw * var(--coef-w));
        left: 50%;
        transform: translateX(-50%);
        border-radius: calc(1.875vw * var(--coef-w));
    }

    .modal .close {
        cursor: pointer;
        position: absolute;
        top: calc(5.8125vw * var(--coef-w));
        right: calc(5.8125vw * var(--coef-w));
    }

    .modal .close svg {
        width: calc(3.75vw * var(--coef-w));
        height: calc(3.75vw * var(--coef-w));
    }

    .modal-title {
        font-style: normal;
        font-weight: 450;
        font-size: calc(6.875vw * var(--coef-w));
        line-height: calc(8.125vw * var(--coef-w));
        text-align: center;
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal-desc {
        text-align: center;
        margin-bottom: calc(4.6875vw * var(--coef-w));
    }

    .modal .input {
        margin-bottom: calc(2.5vw * var(--coef-w));
    }

    .modal .textarea {
        margin-bottom: calc(3.125vw * var(--coef-w));
    }

    .form-answer {
        margin-top: calc(1.5625vw * var(--coef-w));
    }

    .forgot-title {
        margin-bottom: calc(6.25vw * var(--coef-w));
        text-align: center;
    }

    .forgot-buttons {
        margin-top: calc(4.6875vw * var(--coef-w));
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button-register {
        text-decoration: underline;
        cursor: pointer;
    }

    .button-forgot {
        cursor: pointer;
    }

    .forgot-description {
        margin-bottom: calc(4.6875vw * var(--coef-w));
        text-align: center;
        white-space: pre-line;
    }

    .forgot-form {
        display: none;
    }

    .forgot-form.active {
        display: block;
    }


 


	footer {
		background: var(--color-back-and-stroke);
		padding: calc(12.5vw * var(--coef-w)) calc(4.6875vw * var(--coef-w));
	}

	.footer-inner {
		display: flex;
		flex-direction: column;
	}

	footer .logo {
		width: calc(40.625vw * var(--coef-w));
		height: calc(17.5vw * var(--coef-w));
	}

	.made, .copyright {
		font-style: normal;
		font-weight: normal;
		font-size: calc(3.75vw * var(--coef-w));
		line-height: calc(6.25vw * var(--coef-w));
		white-space: break-spaces;
	}

	.made{
		display: block; 
		margin: calc(6.25vw * var(--coef-w)) 0 calc(2.8125vw * var(--coef-w));
	}

	.footer-col {
		display: flex;
		flex-direction: column;
		margin-bottom: calc(9.375vw * var(--coef-w));
	}

	.footer-col:nth-child(1){
		order: 1;
	}
	
	.footer-col:nth-child(5){
		order: 2;
	}

	.footer-col:nth-child(4){
		order: 3;
	}

	.footer-col:nth-child(2){
		order: 4;
	}

	.footer-col:nth-child(3){
		order: 4;
		margin-bottom: 0;
	}

	.footer-col-last {
		align-items: flex-start;
	}

	.footer-link {
		font-style: normal;
		font-weight: normal;
		font-size: calc(5.625vw * var(--coef-w));
		line-height: calc(7.5vw * var(--coef-w));
		margin-bottom: calc(3.125vw * var(--coef-w));
	}

	.footer-contact-link {
		font-style: normal;
		font-weight: normal;
		font-size: calc(4.375vw * var(--coef-w));
		line-height: calc(6.25vw * var(--coef-w));
		margin-bottom: calc(1.875vw * var(--coef-w));
	}

	.footer-social {
		display: flex;
		align-items: center;
		margin-top: calc(6.25vw * var(--coef-w));
	}

	.footer-social-link {
		margin-right: calc(3.125vw * var(--coef-w));
		border-radius: 50%;
	}

	.footer-social-image {
		width: calc(10.9375vw * var(--coef-w));
		height: calc(10.9375vw * var(--coef-w));
		transition: .3s;
	}



 }